/* GLOBAL */
* {
  box-sizing: border-box;
}

:root {
  --DarkGray: #333;
  --LightGray: #fcfcfc;
}

body {
  background-color: var(--LightGray);
  font: normal 16px Arial;
  line-height: 1.6;
  color: var(--DarkGray);
  margin: 0;
  overflow-x: hidden;
}

/* Header */
@media (max-width:1069px) {

  /* TABLET size*/
}

@media (max-width:768px) {

  /* PHONE size*/
}